@{
    ViewData["Title"] = "Справки";
}

<h2>Справки (служител)</h2>

<ul>
    <li><a asp-action="SettlementMatrix">Брой животни по населени места (таблица)</a></li>
    <li><a asp-action="MunicipalityTotal">Общ брой животни за община</a></li>
    <li><a asp-action="SpeciesTotal">Общ брой животни от вид за областта</a></li>
    <li><a asp-action="EndangeredSpecies">Застрашени видове</a></li>
    <li><a asp-action="Growth">% ръст спрямо миналата година</a></li>
</ul>
