@page
@model IndexModel
@{
    ViewData["Title"] = "Начало";
}

<div class="hero-section">
    <div class="hero-overlay">
        <div class="container">

            <h1 class="hero-title">
                Система за мониторинг на дивата природа
            </h1>

            <p class="hero-subtitle mt-3">
                Платформа за събиране, анализ и проследяване
                на промените в популацията на дивите животни
                на територията на област Велико Търново.
            </p>

            <p class="hero-small mt-3">
                Подкрепя работата на доброволци и служители при
                наблюдението и опазването на дивата природа.
            </p>

            <p class="hero-small mt-2">
                Активен мониторинг от <strong>2023 г.</strong>
            </p>

        </div>
    </div>
</div>