@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center"
      style="height:90vh;
            background-image:url('/img/WildlifeBackground.jpg');
            background-size: cover;
            background-position:center;">

    <div class="col-7 d-flex flex-column justify-content-center align-items-start h-100 ms-5">

        <h1 class="display-4 fw-bold"
            style="color:rgb(170, 230, 170);">
            Информационна система за мониторинг на дивите животни
        </h1>

        <p class="fs-4 mt-3"
           style="color:rgb(200, 240, 200);">
            Система за наблюдение и анализ на популацията на диви животни
            в област Велико Търново
        </p>

        <p class="fs-6 mt-4"
           style="color:rgb(210, 240, 210);">
            Мониторинг активен от 2023 г.
        </p>

    </div>
</div>

