@page
@model IndexModel
@{
    ViewData["Title"] = "Начало";
}

<div class="hero-section">
    <div class="hero-overlay">
        <div class="container">

            <h1 class="hero-title">
                Мониторинг на дивата природа
            </h1>

            <p class="hero-subtitle mt-3">
                Информационна система за наблюдение и анализ
                на популацията на диви животни
                в област Велико Търново.
            </p>

            <p class="hero-small mt-3">
                Активен мониторинг от 2023 г.
            </p>

        </div>
    </div>
</div>